[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-seed = "*"
django-dotenv = "*"
requests = "*"
django-storages = {extras = ["azure"], version = "*"}

[dev-packages]

[requires]
python_version = "*"
