{% extends "base.html" %}
{% load static %}
{% block page_name %}
    Sign Up
{% endblock page_name %}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}
{%comment%}
{% include 'partials/social_login.html'%}
{%endcomment%}
{%comment%}    
<h2>OR</h2>
    <form method="POST" action="{% url "users:signup"%}">
        {% csrf_token %}
        {{form.as_p}}
        <button>Sign Up</button>
    </form>
{%endcomment%}

{%comment%}
<style>
        .spacer{
        margin-bottom: 15px;
        /* margin-left: 5%; */
        /* margin-right: 5%; */
    }
</style>
<div>
    <div class="input-group spacer w-75">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" style="margin-right: 10px;" class="form-control">
        <input type="text" aria-label="Last name" class="form-control">
      </div>

    <div class="input-group flex-nowrap spacer w-75 ">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap spacer w-75 ">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
      </div>
      <div class="input-group flex-nowrap spacer w-75 ">
        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
        <input type="text" class="form-control" placeholder="Re-Type Password" aria-label="Password" aria-describedby="addon-wrapping">
      </div>
      <div class="signup">
        <a href="">
            <button class="btn signup-button" style="background-color: #419CD6; width:10rem; border-radius: 10px;" type="submit">
                <span style="font-size: 15px; vertical-align: center; color: white;"> 
                    Signup
                </span>
            </button>
        </a>
    </div>
</div>

{% endblock %}
{%endcomment%}


<style>
    .spacer{
        margin-bottom: 25px;
        /* margin-left: 5%; */
        /* margin-right: 5%; */
    }

@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

 *{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.html-property {
  box-sizing: border-box;
} 
footer{
    display: none;
}
.navbar{
    display: none;
}
body {
  font-family: "Muli", sans-serif;
}

.container-main{
  overflow-y:hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  background: rgba(65, 156, 214, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.box-1{
  height: 55rem;
  width: 40rem;
}
.circle{
  height: 20rem;
  width: 20rem;
  background-color:rgba(172, 218, 248, 0.5);
  position: absolute;
  border-radius: 50%;
  left: -6rem;
  bottom: -7rem;
}
.circle-2{
  height:3.5rem;
  width: 3.5rem;
  background-color:rgba(172, 218, 248, 0.5);
  position: absolute;
  border-radius: 50%;
  top:16rem;
  left:3.5rem;  
}
.triangle{
  height: 7rem;
  width: 7rem;
  position: absolute;
  background-color:rgba(172, 218, 248, 0.5);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-29.99deg);
  right: 5rem;
  bottom: 12rem;
}
.star{
  height: 8rem;
  width: 8rem;
  position: absolute;
  background-color:rgba(172, 218, 248, 0.5);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  transform: rotate(-25.36deg);
  top:-2rem;
  right: -1rem;
}
.main-text{
  /* font-family: Muli; */
  color: #E3EBF0;
  font-size: 3.5rem;
  text-align: center;
}
.secondary-text{
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #E3EBF0;
  font-style: normal;
  font-weight: normal;
}
.sign-up-main
{
  margin-top: 3rem;
  /* height:3rem; */
  padding-top: 1rem;
  width:12rem;
  background: #419CD6;
  border-radius: 15px;
  border: none;
  vertical-align: auto;
}
.text-inside-buttom{
  font-size: 1.6rem;
  color: #E3EBF0;
}

.box-2{
  height: 55rem;
  width: 55rem;
  background: #E5E5E5;
}

.right-side{
  color: gray;
  margin-bottom: 2rem;
}


.cross{
    /* z-index: 1; */
  position: absolute;
  right: 5rem;
  top: 7rem;
}
.name{
    /* margin-left: 1rem; */
    border: none;
    border-radius: 15px;
    padding: 10px;
    width:11rem;
}
.first-name{
    margin-right: 3rem;
}
.myFieldclass{
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 25rem;
}
.myFieldclass:focus-within,
.name:focus-within
{
    /* box-sizing: border-box; */
    outline: none;
    border: thin solid green;
}
/* .django-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
@media only screen and (max-width: 650px) {
  .box-1{
    display: none;
  }
}



</style>
<div class="html-property">

    <div class="container-main">
        <div class="box box-1">
            <div class="circle"></div>
            <div class="circle-2"></div>
            <div class="star"></div>
            <div class="triangle"></div>
            <div class="content">
                <p class="main-text">Welcome Back</p>
                <p class="secondary-text">Already have an account?</p>
                <a href="{% url "users:login" %}">
                    <button class="sign-up-main">
                        <p class="text-inside-buttom">Log In</p>
                    </button>
                </a>
            </div>
        </div>
        <div class="box box-2">
            <div class="content">
                <a href="{% url "core:home" %}">
                    <div class="cross"><img src="{% static 'images/login/cross.svg'%}" alt=""></div>
                </a>
                <p class="main-text right-side"><b>Create your Account</b></p>
                
                {% include 'partials/social_login.html'%}
                
                <form method="POST" action="{% url "users:signup"%}">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        {{error}}
                        {% endfor %}
                    {% endif %}
                <div class="django-form">
                    <div class="input-group spacer">
                        <!-- <span class="input-group-text">First and last name</span> -->
                        {{form.first_name}}
                        {{form.last_name}}
                        <!-- <input type="text" aria-label="Last name" class="form-control"> -->
                      </div>
                      {% if form.first_name.errors %}
                      {% for error in form.first_name.errors %}
                          <span style="color: red; position: relative; top: -20px; left: -50px;">{{error}}</span>
                      {% endfor %}
                      {% endif %}
                      {% if form.last_name.errors %}
                      {% for error in form.last_name.errors %}
                          <span style="color: red; position: relative; top: -20px; left: -50px;">{{error}}</span>
                      {% endfor %}
                      {% endif %}
                    <div class="input-group flex-nowrap spacer">
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-envelope"></i></span>
                        {{form.email}}
                    </div>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <span style="color: red; position: relative; top: -20px; left: -50px;">{{error}}</span>
                        {% endfor %}
                    {% endif %}
                      <div class="input-group flex-nowrap spacer">
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
                        {{form.password}}
                      </div>
                      <div class="input-group flex-nowrap spacer ">
                        <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
                        {{form.password_re}}
                    </div>
                    {% if form.password_re.errors %}
                        {% for error in form.password_re.errors %}
                        <span style="color: red; position: relative; top: -20px; left: -50px;">{{error}}</span>
                        {% endfor %}
                        {% endif %}
                      <div class="signup">
                        <a href="">
                            <button class="btn signup-button" style="background-color: #419CD6; width:10rem; border-radius: 10px;" type="submit">
                                <span style="font-size: 15px; vertical-align: center; color: white;"> 
                                    Signup
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </form>


            </div>
        </div>
    </div>
</div>
    
    
    {% endblock %}