{% extends "base.html" %}

{% load static %}

{% block page_name %}
    Update Password
{% endblock page_name %}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}

{% comment %}
    <style>
        .other{
            padding-top: 80px;
            display: block;
        }
    </style>
    <div class="container-fluid other">
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button>Update Profile</button>
        </form>
        
    </div>
{% endcomment %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
}

.container-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden ;
}
.box{
  background: rgba(65, 156, 214, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.box-1{
  height: 55rem;
  width: 40rem;
}
.circle{
  height: 20rem;
  width: 20rem;
  background-color:rgba(172, 218, 248, 0.5);
  position: absolute;
  border-radius: 50%;
  left: -6rem;
  bottom: -7rem;
}
.circle-2{
  height:3.5rem;
  width: 3.5rem;
  background-color:rgba(172, 218, 248, 0.5);
  position: absolute;
  border-radius: 50%;
  top:16rem;
  left:3.5rem;  
}
.triangle{
  height: 7rem;
  width: 7rem;
  position: absolute;
  background-color:rgba(172, 218, 248, 0.5);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(-29.99deg);
  right: 5rem;
  bottom: 12rem;
}
.star{
  height: 8rem;
  width: 8rem;
  position: absolute;
  background-color:rgba(172, 218, 248, 0.5);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  transform: rotate(-25.36deg);
  top:-2rem;
  right: -1rem;
}
.main-text{
  /* font-family: Muli; */
  color: #E3EBF0;
  font-size: 3rem;
  text-align: center;
}
.secondary-text{
  font-size: 2rem;
  margin-top: 8rem;
  color: #E3EBF0;
  font-style: normal;
  font-weight: normal;
}
.password-change-main
{
  /* margin-top: 3rem; */
  padding: 0.1rem;
  height:2.5rem;
  width:16rem;
  background: #419CD6;
  border-radius: 15px;
  border: none;
  z-index: 100;
  vertical-align: middle;
}
.text-inside-buttom{
  font-size: 1.6rem;
  color: #E3EBF0;
}

.box-2{
  height: 55rem;
  width: 55rem;
  background: #E5E5E5;
}

.right-side{
  color: gray;
  margin-bottom: 2rem;
  display: none;
}


.cross{
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.navbar{
    display: none;
}
footer{
    display: none;
}
/* profile photo*/
.A-circle {
        background: #C4C4C4;
        color: #fff;
        padding: 10px 20px;
        padding-top: 8px;
        border-radius: 50%;
        font-size: 35px;
        font-weight: bold;
    }
    .profile-image{
        border-radius: 50%;
        height: 5rem;
    }

    .A-image{
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .A-circle-size {
        margin-bottom: 20px;
        transform: scale(1.3);
    }
textarea{
    resize: none;
    height:55px;
}
.spacer{
  margin-bottom: 1.6rem;
}
.input-group-text{
    padding-right: 20px;
}

.myFieldclass{
    border: none;
    border-radius: 1px;
    padding: 10px;
    width: 20rem;
}

.myFieldclass:focus-within
{
    /* box-sizing: border-box; */
    outline: none;
    outline: thin solid green;
    
}

.name-space{
  padding-right: 41px;
}
.gender-space{
  padding-right: 35px;
}
.bio-space{
  padding-right: 59px;
}

/* monkey */

.maincontainer
            {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100vw;
              /* height: 100vh; */
            }
            .animcon
            {
              /* background-color: white; */
            
              overflow: hidden;
              /*overflow hidden because to keep the hand image hidden below*/
              margin-top:20px;
              height: 300px;
              width: 300px;
              border-radius: 50%;
              background-color: white;
              background-image:url(https://raw.githubusercontent.com/naaficodes/Monkey-Login/master/images/monkey.gif);
              background-size: 90% 85%;
              background-repeat: no-repeat;
              background-position: center;
              box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
            
              /*flex center to keep the hand image in the center*/
              display: flex;
              align-items: center;
              flex-direction: column;
            }
            .animcon img
            {
              margin-top:110%;
              height: 170px;
              width: 170px;
              transition: 1s;
            }

@media only screen and (max-width: 650px) {
  .box-1{
    display: none;
  }
  .right-side{
    display: block;
  }
}

</style>
<div class="container-main">
    <div class="box box-1">
        <div class="circle"></div>
        <div class="circle-2"></div>
        <div class="star"></div>
        <div class="triangle"></div>
        <div class="content">
            <p class="main-text">Change Your Password:</p>
        <div>
            <div class="maincontainer">
            <div class="monkeylogin">
              <div class="animcon" id="animcon">
                <img id="hands" style="height: 300px; width: 300px;" src="https://raw.githubusercontent.com/naaficodes/Monkey-Login/master/images/hands.png"/>
              </div>
            </div>
            </div>
        </div>
            <p class="secondary-text">Don't remember old password?</p>
            <a href="{% url 'users:password' %}">
              <button class="password-change-main">
                  <p class="text-inside-buttom">Reset Password</p>
              </button>
            </a>
        </div>
    </div>
    <div class="box box-2">
        <div class="content">
            <div class="cross"><img src="cross.svg" alt=""></div>
            <p class="main-text right-side"><b>Change your password:</b></p>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div>
                <div class="input-group flex-nowrap spacer w-100 ">
                  <span class="input-group-text name-space" id="addon-wrapping">Old Password</span>
                  {{form.old_password}}
                </div>
                {% if form.old_password.errors %}
                      {% for error in form.old_password.errors %}
                          <span style="color: red; position: relative; top: -10px; left: -20px;">{{error}}</span>
                      {% endfor %}
                      {%else%}
                      {{noerror}}
                      {% endif %}
                <div class="input-group flex-nowrap spacer w-100 ">
                    <span class="input-group-text name-space" id="addon-wrapping">New Password</span>
                    {{form.new_password1}}
                </div>
                {% if form.new_password1.errors %}
                      {% for error in form.new_password1.errors %}
                          <span style="color: red; position: relative; top: -10px; left: -20px;">{{error}}</span>
                      {% endfor %}
                      {% endif %}

                <div class="input-group flex-nowrap spacer w-100 ">
                    <span class="input-group-text" id="addon-wrapping">Retype Password</span>
                    {{form.new_password2}}
                </div>
                {% if form.new_password2.errors %}
                      {% for error in form.new_password2.errors %}
                          <span style="color: red; position: relative; top: -10px; left: -20px;">{{error}}</span>
                      {% endfor %}
                      {% endif %}

                <div class="login">
                        <button class="btn login-button" onfocus="openeye()" style="background-color: #419CD6; width:10rem; border-radius: 10px;" type="submit">
                            <span style="font-size: 15px; vertical-align: center; color: white;"> 
                                Update Password
                            </span>
                        </button>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>

<script>
  var x=document.getElementById("hands");
var y=document.getElementById("animcon");
function closeye()
{
y.style.backgroundImage="url(https://raw.githubusercontent.com/naaficodes/Monkey-Login/master/images/monkey_pwd.gif)";
x.style.marginTop="0%";
}
function openeye()
{
y.style.backgroundImage="url(https://raw.githubusercontent.com/naaficodes/Monkey-Login/master/images/monkey.gif)";
x.style.marginTop="110%";
}
</script>

    {% endblock %}