{% extends "base.html" %}

{% block page_name %}
    {{event.name}}
{% endblock page_name%}


{% block content %}
    <div style="display: block; padding-top: 70px;">
        <h1>{{event.name}}</h1>
        <h3>{{event.description}}</h3>
    </div>
    <div>
        <h2>By:{{event.organizer.username}}
            {% if event.organizer.superorganizer %}
                (superorganizer)
            {% endif %}
        </h2>
        <h3>Event Rules</h3>
        <ul>
            {% for a in event.event_rule.all %}
                <li>{{a}}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}