{% extends "base.html" %}

{% block page_name %}
    Events
{% endblock page_name%}


{% block content %}
    {% for event in object_list %}
        <h3>{{event.name}}</h3>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}"> &#8592 Previous</a>
    {% endif %}
        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next &#8594</a>
    {% endif %}
    </h5>
    
{% endblock content %}