{% extends "base.html" %}

{% block page_name %}
    Search
{% endblock page_name %}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}
    <h2>Search</h2>

    <form method="get" action="{% url "events:search" %}">
        {{form.as_p}}
        <button>Search</button>
    </form>

    <h2>Results:</h2>
    {% for event in events %}
        <h3>{{event}}</h3>
    {% endfor %}
{% endblock %}
















{% comment %}
    {% block content %}
    <h2>Search</h2>
    
    <form method="get" action="{% url "events:search" %}">
        <div>
            <label for="address">Address</label>
            <input id="address" value="{{address}}" name="address" placeholder="Search by address" />
        </div>
        <div>
        <label for="city">City</label>
        <input id="city" value="{{s_city}}" name="city" placeholder="Search by city" />
        </div>
        <div>
            <label for="event_type">Event Type</label>
            <select name="event_type" id="event_type">
                <option value="0" {% if s_event_type == 0 %}selected{% endif %}>Random</option>
                {% for event_type in event_types %}
                    <option value="{{event_type.pk}}" {% if s_event_type == event_type.pk %}selected{% endif %}>{{event_type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="price">Price</label>
            <input value="{{price}}" type="number" name="price" id="price" placeholder="Price" />
        </div>
        <div>
            <label for="super_organizer">By Superorganizer Only?</label>
            <input type="checkbox" name="super_organizer" id="super_organizer" {% if super_organizer %}checked{% endif %}>
        </div>
        <button>Search</button>
    </form>

    <h2>Results:</h2>
    {% for event in events %}
        <h3>{{event}}</h3>
    {% endfor %}



{% endblock content %}
{% endcomment %}